# Output files
*.pdf
!acm-suite/template/assets/images/*.pdf
!thumbnail.png
output/
out/
universe/

# Font directory, due to licensing
fonts/

# LaTeX
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.bbl
*.fff
*.synctex(busy)
*.ttt
*.bcf
*.run.xml
*.blg
*.dvi
*.lot
*.lof
*.xdv
*.ins
*.bbx
*.cbx
*.dbx
*.dtx
*.bst
*.lol
*.idx
*.ilg
*.ind
*.app

# ACM
!acm-suite/assets/**/*

# task
.task
