name: CI

on: push

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Set up Homebrew
              id: set-up-homebrew
              uses: Homebrew/actions/setup-homebrew@main
            - name: Cache Homebrew
              uses: actions/cache@v4
              with:
                  path: |
                      /home/linuxbrew/.linuxbrew/Homebrew
                      /home/linuxbrew/.linuxbrew/Cellar
                      /home/linuxbrew/.cache/Homebrew
                  key: ${{ runner.os }}-brew-${{ hashFiles('.github/workflows/CI.yml') }}
                  restore-keys: |
                      ${{ runner.os }}-brew-
            - name: Install fonts
              run: brew install --cask font-{libertinus{,-{sans,serif,serif-display}},source-{serif-4,sans-3},tex-gyre-{adventor,bonum,chorus,cursor,heros,pagella,schola,termes{,-math}},arial{,-black},new-computer-modern,computer-modern}
            - name: Install Typst
              uses: typst-community/setup-typst@v4
            - name: Install Task
              uses: go-task/setup-task@v1
            - name: Build templates
              run: task all
