name: CI

on: push

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Install Typst
              uses: typst-community/setup-typst@v4
            - name: Install Task
              uses: go-task/setup-task@v1
            - name: Build templates
              run: task all
